---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
import Card from '../components/Card.astro';
---
<BaseLayout>
  <h2>My awesome blog subtitle</h2>
  <Card
	href="/blog"
	title="Blog files!"
	body="Here are the more files md files in blogs."
/>

</BaseLayout>

	